* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body {
    background-color: #1b3371;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    padding: 10px 5%; /* Padding to give more space inside the navbar */
    display: flex;
    justify-content: space-between; /* Pushes the items to the edges */
    align-items: center; /* Vertically centers all children within the navbar */
    border-radius: 20px;
    border-color: #000;
    background-color: #162174;
    box-shadow: rgba(13, 30, 119, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    z-index: 1;
  }
  
  /* Center the logo vertically, but keep it on the left */
  nav .logo {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align the logo to the left */
    margin-right: 20px; /* Space between the logo and the nav links */
  }
  
  nav .logo img {
    height: 80px; /* Increase logo size to 80px */
    width: auto;
    margin-right: 15px; /* Add some space between logo and any text or items */
  }
  
  nav .logo #h1txt {
    font-size: 1.9rem;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin-left: auto; /* Pushes the nav links to the right */
  }
  
  nav ul li {
    margin-left: 1.5rem;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #073dff;
    font-size: 145%;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #0c0575;
  }
  
  .hamburger {
    display: none;
    cursor: pointer;
  }
  
  .hamburger .line {
    width: 25px;
    height: 1px;
    background-color: #1f1f1f;
    display: block;
    margin: 7px auto;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger-active {
    transition: all 0.3s ease-in-out;
    transition-delay: 0.6s;
    transform: rotate(45deg);
  }
  
  .hamburger-active .line:nth-child(2) {
    width: 0px;
  }
  
  .hamburger-active .line:nth-child(1),
  .hamburger-active .line:nth-child(3) {
    transition-delay: 0.3s;
  }
  
  .hamburger-active .line:nth-child(1) {
    transform: translateY(12px);
  }
  
  .hamburger-active .line:nth-child(3) {
    transform: translateY(-5px) rotate(90deg);
  }
  
  .menubar {
    position: absolute;
    top: 0;
    left: -60%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 60%;
    height: 100vh;
    padding: 20% 0;
    background: rgba(255, 255, 255);
    transition: all 0.5s ease-in;
    z-index: 2;
  }
  
  .active {
    left: 0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
  
  .menubar ul {
    padding: 0;
    list-style: none;
  }
  
  .menubar ul li {
    margin-bottom: 32px;
  }
  
  .menubar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .menubar ul li a:hover {
    background-color: #f5f5f5;
  }
  
  @media screen and (max-width: 790px) {
    .hamburger {
      display: block;
    }
    nav ul {
      display: none;
    }
  }
  #version-info {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    cursor: help;
    z-index: 1003;
    color: #fff;
    transition: font-size 0.3s;
  }
  #version-tooltip {
    position: fixed;
    bottom: 20px;
    left: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    display: none;
    z-index: 1004;
    transition: background-color 0.3s;
    opacity: 0.9;
  }
  #version-info:hover + #version-tooltip {
    display: block;
  }