@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Some basic CSS overrides */
body {
	line-height: 1.5;
	min-height: 100vh;
	font-family: "Outfit", sans-serif;
	position: relative;
}

button,
input,
select,
textarea {
	font: inherit;
}

a {
	color: inherit;
}

/* End basic CSS override */

* {
	scrollbar-width: 0;
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background-color: #ddd;
	border: 4px solid #fff;
}

/* Modal Background with blur effect */
.modal {
	position: fixed;
	top: 0; 
	left: 0;
	right: 0;
	bottom: 0; /* Ensure it covers the entire viewport */
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the blur effect */
	z-index: 9999;
	opacity: 0; /* Initially hidden */
	display: none; /* Hidden by default */
	animation: fadeIn 1s ease-out forwards; /* Fade-in animation */
	backdrop-filter: blur(10px); /* Apply blur to the background behind the modal */
	-webkit-backdrop-filter: blur(10px); /* For Safari support */
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
	0% {
	  opacity: 0;
	}
	100% {
	  opacity: 1;
	}
  }
  
  /* Fade-out animation */
  @keyframes fadeOut {
	0% {
	  opacity: 1;
	  backdrop-filter: blur(10px); /* Keep the blur */
	}
	100% {
	  opacity: 0;
	  backdrop-filter: blur(0px); /* Remove the blur */
	}
  }
  
  /* Modal container */
  .modal-container {
	max-height: 90vh;
	max-width: 500px;
	width: 100%; /* Make it responsive */
	background-color: #fff;
	border-radius: 16px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
  }
  
  /* Header */
  .modal-container-header {
	padding: 16px 32px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
  /* Title */
  .modal-container-title {
	display: flex;
	align-items: center;
	gap: 8px;
	line-height: 1;
	font-weight: 700;
	font-size: 1.125rem;
  }
  
  /* Body */
  .modal-container-body {
	padding: 24px 32px 51px;
	overflow-y: auto;
  }
  
  /* Footer */
  .modal-container-footer {
	padding: 20px 32px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid #ddd;
	gap: 12px;
  }
  
  /* Button Styles */
  .button {
	padding: 12px 20px;
	border-radius: 8px;
	background-color: transparent;
	border: 0;
	font-weight: 600;
	cursor: pointer;
	transition: 0.15s ease;
  
	&.is-primary {
	  background-color: #750550;
	  color: #fff;
	  &:hover {
		background-color: #4a0433;
	  }
	}
  }
  